.content-wrapper{
	text-align: center;
	.header{
		font-size: 38px;
		font-weight: 600;
		line-height: 1;	
		word-spacing: 1rem;
	}
	.sub-title{
		padding: 20px 0;
	}
	.request-btn{
		height: auto;
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
}
 